-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."StatusManutencao" AS ENUM ('Pendente', 'Em_manutencao', 'Concluido');

-- CreateTable
CREATE TABLE "public"."itens" (
    "id" SERIAL NOT NULL,
    "codigo_sipac" VARCHAR(50),
    "pregao" VARCHAR(100),
    "descricao" TEXT NOT NULL,
    "tipo" VARCHAR(100),
    "unidade_medida" VARCHAR(20) NOT NULL DEFAULT 'UND',
    "localizacao" VARCHAR(100),
    "quantidade" INTEGER NOT NULL,
    "preco_unitario" DECIMAL(10,2) NOT NULL,
    "unidade_id" INTEGER NOT NULL,

    CONSTRAINT "itens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."notificacoes" (
    "id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "mensagem" TEXT NOT NULL,
    "link_url" VARCHAR(255),
    "lida" BOOLEAN NOT NULL DEFAULT false,
    "data_criacao" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notificacoes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."solicitacao_itens" (
    "id" SERIAL NOT NULL,
    "solicitacao_id" INTEGER NOT NULL,
    "item_id" INTEGER NOT NULL,
    "quantidade_solicitada" INTEGER NOT NULL,
    "status_entrega" VARCHAR(50) NOT NULL DEFAULT 'Pendente',
    "data_entrega" TIMESTAMPTZ(6),

    CONSTRAINT "solicitacao_itens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."solicitacoes" (
    "id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "responsavel_usuario_id" INTEGER NOT NULL,
    "setor_equipamento" VARCHAR(255),
    "numero_glpi" VARCHAR(50),
    "patrimonio" VARCHAR(50),
    "data_solicitacao" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "status" VARCHAR(50) NOT NULL DEFAULT 'Pendente',
    "unidade_id" INTEGER NOT NULL,

    CONSTRAINT "solicitacoes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."unidades_organizacionais" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(255) NOT NULL,
    "sigla" VARCHAR(20),
    "campus" VARCHAR(100),
    "data_criacao" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "unidades_organizacionais_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."usuarios" (
    "id" SERIAL NOT NULL,
    "username" VARCHAR(100) NOT NULL,
    "hashed_password" VARCHAR(255) NOT NULL,
    "nome_completo" VARCHAR(255) NOT NULL,
    "role" VARCHAR(50) NOT NULL,
    "telefone" VARCHAR(20),
    "email" VARCHAR(255),
    "unidade_id" INTEGER,
    "data_criacao" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."manutencao_eletronica" (
    "id" SERIAL NOT NULL,
    "glpi" VARCHAR(50),
    "tecnico_responsavel_id" INTEGER NOT NULL,
    "equipamento" VARCHAR(255) NOT NULL,
    "descricao_problema" TEXT NOT NULL,
    "data_entrada" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" "public"."StatusManutencao" NOT NULL DEFAULT 'Pendente',
    "laudo_tecnico" TEXT,

    CONSTRAINT "manutencao_eletronica_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "itens_codigo_sipac_unidade_id_key" ON "public"."itens"("codigo_sipac", "unidade_id");

-- CreateIndex
CREATE UNIQUE INDEX "unidades_organizacionais_nome_key" ON "public"."unidades_organizacionais"("nome");

-- CreateIndex
CREATE UNIQUE INDEX "unidades_organizacionais_sigla_key" ON "public"."unidades_organizacionais"("sigla");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_username_key" ON "public"."usuarios"("username");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_email_key" ON "public"."usuarios"("email");

-- AddForeignKey
ALTER TABLE "public"."itens" ADD CONSTRAINT "itens_unidade_id_fkey" FOREIGN KEY ("unidade_id") REFERENCES "public"."unidades_organizacionais"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."notificacoes" ADD CONSTRAINT "notificacoes_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."solicitacao_itens" ADD CONSTRAINT "solicitacao_itens_item_id_fkey" FOREIGN KEY ("item_id") REFERENCES "public"."itens"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."solicitacao_itens" ADD CONSTRAINT "solicitacao_itens_solicitacao_id_fkey" FOREIGN KEY ("solicitacao_id") REFERENCES "public"."solicitacoes"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."solicitacoes" ADD CONSTRAINT "solicitacoes_responsavel_usuario_id_fkey" FOREIGN KEY ("responsavel_usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."solicitacoes" ADD CONSTRAINT "solicitacoes_unidade_id_fkey" FOREIGN KEY ("unidade_id") REFERENCES "public"."unidades_organizacionais"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."solicitacoes" ADD CONSTRAINT "solicitacoes_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."usuarios" ADD CONSTRAINT "usuarios_unidade_id_fkey" FOREIGN KEY ("unidade_id") REFERENCES "public"."unidades_organizacionais"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."manutencao_eletronica" ADD CONSTRAINT "manutencao_eletronica_tecnico_responsavel_id_fkey" FOREIGN KEY ("tecnico_responsavel_id") REFERENCES "public"."usuarios"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

